@import 'palette';

.aladdin-main-container {
    height: 100%;
    width: 100%;
    
    .top {
        height: 80%;
        
        .md-padding {
            padding: 0;
    
            md-card {
                margin: 0;
            }
        }    
    }

    .bottom {
        position: relative;
        // top: 80vh;
        width: 100%;
        height: 20%;

        .md-padding {
            padding: 0;
    
            md-card {
                height: 100%;

                md-card-title {
                    min-height: 48px;
                }
    
                md-card-content {
                    height: 100%;
                    overflow-y: auto;
                    padding: 0;
                }
            }
        }
    }

    @media (max-width: $screen-md-min) {
        .top {
            position: fixed;
            top: 0;
            height: 80%;
            overflow-y: auto;
            width: 100%;
        }

        .bottom {
            position: fixed;
            bottom: 0;
            height: 20%;
            top: 80%;
            width: 100%;
            z-index: 5;
        }
    }
}
