@import 'palette';
@import 'variables';

.center-column {
    .md-padding {
        padding: 0;
        height: calc(100% - #{$title-bar});

        md-card {
            margin: 0;
        }
    }
}
