@import 'palette';
@import 'mixins';

.graph-view {
  height: 100%;
  width: 100%;
  
  md-card {
      background: aladdin-color('background');
      margin: 0;

      md-card-content {
          overflow: auto;
          padding: 0;
          margin: 0;
          // margin: auto;
          // height: calc(100% - #{$title-bar});

          svg {
            .node>text {
              font-family: Roboto, "Helvetica Neue", sans-serif;
              font-weight: 500;
              fill: aladdin-color('background');
            }

            ellipse {
              stroke: aladdin-color('secondary');
            }

            .graph>polygon {
              fill: transparent;
            }
            
            g>.node>polygon { 
              stroke: aladdin-color('secondary');
            }

            g>.edge {
              polygon, path {
                stroke: aladdin-color('secondary');
                fill: aladdin-color('secondary');
              }
            }
          }
      }  
  } 
}