.schema-validator-log {
    width: 100%;
  
    md-card {
      margin: 0;
      md-card-title {
        background-color: aladdin-color("secondary");
        color: #fff;
        height: 48px;
        max-height: 48px;
        padding: 0;
  
        md-card-title-text {
          @include aladdin-card-title-text;
  
          .md-headline {
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
          }
        }
      }
    }
  
    md-list-item,
    md-list-item .md-list-item-inner {
      min-height: 24px;
      height: 26px;
    }
  }