@import "ember-paper";
@import "palette";

@import "variables";
@import "main";
@import "twiddle-panes-container";
@import "twiddle-panes";
@import "code";
@import "output-pane";
@import "mixins";
@import "animations";

@import "aladdin-main-container";
@import "assets-transactions-wizard";
@import "blockchain-asset";
@import "blockchain-transaction";
@import "blockchain-transaction-parameter";
@import "center-column";
@import "contract-editor";
@import "contract-viewer";
@import "graph-view";
@import "left-column";
@import "right-column";
@import "schema-validator-log";
@import "schema-validator-log-line";
@import "tabbed-container";

.aladdin-global-class {
  margin: 0;
  padding: 0;
}

.bold-text {
  font-weight: 500;
}
