@import '../../../styles/palette';
@import '../../../styles/mixins';

& {
    height: 100%;
    width: 100%;
    
    md-card {
        height: 100%;
        md-card-title {
            background-color: aladdin-color('secondary'); //#ff5722;
            color: #fff;
            height: 48px;
            max-height: 48px;
            padding: 0;

            md-card-title-text {
                @include aladdin-card-title-text;

                .md-headline {
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 24px;
                }
            }
        }
        md-card-content {
            padding: 0;
            margin: 0;
            height: calc(100% - 48px);
            div {
                height: 100%;
                opacity: 1;
                &.ace_tooltip {
                    height: auto;
                }
            }
            .contract-editor-wrapper {
                opacity: 1;
                height: 100%;
                width: 100%;
                margin-top: 0;
        
                textarea {
                    opacity: 1 !important;
                    height: 100%;
                    width: 100%;
                    left: 0;
                }

                .ember-ace-error { background-color: rgba(255, 0, 0, 0.5); position: absolute; }
                .ember-ace-warning { background-color: rgba(200, 200, 0, 0.5); position: absolute; }
            }
        }  
    } 
}