@import '../../../styles/palette';

& {
    width: 100%;
    
    md-card > md-card-title {
        background-color: aladdin-color('secondary'); //#ff5722;
        color: #fff;
    }

    md-list-item,
    md-list-item .md-list-item-inner {
        min-height: 24px;
        height: 26px;
    }
}
