@import '../../../styles/palette';

& {
    height: 100%;
    width: 100%;
    
    md-card {
        background: aladdin-color('background');
        height: 100%;
        md-card-title {
            background-color: aladdin-color('secondary'); //#ff5722;
            color: #fff;
            height: 32px;
            max-height: 32px;
        }
        md-card-content {
            overflow: scroll;
            padding: 0em;
            margin: auto;
            height: calc(100% - 72px);

            svg {
              .node>text {
                font-family: Roboto, "Helvetica Neue", sans-serif;
                font-weight: 500;
                fill: aladdin-color('background');
              }

              ellipse {
                stroke: aladdin-color('secondary');
              }

              .graph>polygon {
                fill: transparent;
              }
              
              g>.node>polygon { 
                stroke: aladdin-color('secondary');
              }

              g>.edge {
                polygon, path {
                  stroke: aladdin-color('secondary');
                  fill: aladdin-color('secondary');
                }
              }
            }
        }  
    } 
}