{{#paper-card as |card|}}
    {{#card.content}}
        {{#ember-ace
            minlines=20
            value=value
            mode=computedMode
            highlightActiveLine=highlightActiveLine
            showPrintMargin=showPrintMargin
            readOnly=readOnly
            update=(action 'valueUpdated')
            tabSize=tabSize
            useSoftTabs=useSoftTabs
            useWrapMode=useWrapMode
            editorClass="contract-viewer-wrapper"
            showInvisibles=showInvisibles
            showGutter=showGutter
            showLineNumbers=showLineNumbers
            showIndentGuides=showIndentGuides
            theme=theme
            overlays=overlays 
            as |editor|}}
        {{/ember-ace}}
        {{paper-progress-circular warn=true diameter=96 disabled=(not isCompiling)}}
        <button style="
            color: white;
            background: black;
            position: absolute;
            top: 100px;
            right: 0;
            margin: auto;">Toggle Manual Mode</button>
        <button style="
            color: white;
            background: black;
            position: absolute;
            right: 0;
            bottom: 0;
            margin: auto;" {{action 'compile'}}>Compile</button>
    {{/card.content}}
{{/paper-card}}