@import '../../../styles/palette';

& {
    height: 100%;
    width: 100%;
    
    md-card {
        background: aladdin-color('background');
        height: 100%;
        md-card-title {
            background-color: aladdin-color('secondary'); //#ff5722;
            color: #fff;
            height: 32px;
            max-height: 32px;
        }

        md-card-content {
            overflow: scroll;
            padding: 0em;
            width: 50%;
            height: calc(100% - 72px);

            .md-button.md-primary.md-raised, 
            .md-button.md-primary.md-raised:not([disabled]):hover,
            .md-button.md-primary.md-raised:not([disabled]).md-focused {
              background: aladdin-color('secondary');
            }

            .md-button.md-raised {
              background: aladdin-color('foreground');
              color: aladdin-color('background');
            }

            // .md-chip-input-container {
            //   display: none;
            // }

            // .md-chips.md-focused {
            //   -webkit-box-shadow: 0 2px aladdin-color('foreground');
            //   box-shadow: 0 2px aladdin-color('foreground');
            // }

            // md-chips md-chip {
            //   background: aladdin-color('foreground');
            //   color: aladdin-color('background');
            // }

            // md-chips md-chip.md-focused {
            //   background: aladdin-color('secondary');
            //   color: aladdin-color('foreground');
            // }

            // .md-chip-content {
            //   font-family: Roboto, "Helvetica Neue", sans-serif;
            // }

            // .md-chip-remove-container {
            //   display: none;
            // }
        }  
    } 
}