<div class="flex layout-row" style="height: 100vh;">
    {{outlet}}
    {{aladdin-main-container code="pragma solidity ^0.4.24;

contract Application {
    function Application() public {}

    function arrived (
        uint sNum,
        uint arrived,
        bytes32 assetId,
        bytes32 container)
    public {}

    function tampered (
        uint sNum,
        uint tampered,
        bytes32 assetId,
        bytes32 lock)
    public {}

    function lock (
        uint sNum,
        uint locked,
        bytes32 assetId,
        bytes32 container)
    public {}

    function idle (
        uint sNum,
        uint idle,
        bytes32 assetId,
        bytes32 container)
    public {}

    function unlock (
        uint sNum,
        uint tampered,
        uint unlocked,
        bytes32 assetId,
        bytes32 lock)
    public {}

    function locked (
        uint sNum,
        uint tampered,
        uint locked,
        bytes32 assetId,
        bytes32 lock)
    public {}

    function saveManifest (
        uint sNum,
        uint carNum,
        bytes32 assetId,
        bytes32 manifest)
    public {}

    function departed (
        uint sNum,
        uint departed,
        bytes32 assetId,
        bytes32 container)
    public {}

    function manifest (
        string contents,
        uint locked,
        bytes32 assetId,
        bytes32 container)
    public {}

    function received (
        uint sNum,
        uint received,
        bytes32 assetId,
        bytes32 container)
    public {}
}
"}}
</div>