<div class="flex layout-row" style="height: 100vh;">
    {{outlet}}
    {{aladdin-main-container code="pragma solidity ^0.4.24;
contract Container{
function Container() public{}
enum Assets {lock, container, manifest}
Assets _unlocked = Assets.lock;
Assets _arrived = Assets.container;
Assets _locked = Assets.lock;

function unlocked (
uint256 sNum,    /* optional parameter */
uint256 locked,    /* optional parameter */
string assetId )    /* parameter needed for linking assets and transactions */
public{}

function arrived (
uint256 sNum,    /* optional parameter */
uint256 arrived,    /* optional parameter */
string assetId )    /* parameter needed for linking assets and transactions */
public{}

function locked (
uint256 sNum,    /* optional parameter */
uint256 locked,    /* optional parameter */
uint256 islocked,
string assetId) 
public{}
}
"}}
</div>