<div class="header">
  <div class="nav-right">
    {{#if canHideLeftColumn}}
      <span class="hint--bottom hint--rounded" title="Hide Assets and Transactions">
        <span class="glyphicon glyphicon-chevron-left" {{action 'hideLeftColumn'}}></span>
      </span>
    {{/if}}
    {{#unless centerColumnShow}}
        <span class="glyphicon glyphicon-plus" {{action (action this.openCentralColumn)}} title="Show Smart Contract and Graph"></span>
    {{/unless}}
  </div>
</div>

{{component 'assets-transactions-wizard' showTitle=true schema=schema viewChange=(action viewChange 'assets-transactions-wizard')}}
{{!-- {{contract-editor yaml=yaml viewChange=(action viewChange 'contract-editor')}} --}}